$font__primary: 'Roboto', Arial, sans-serif;
$font__primary__condensed: 'Roboto Condensed', Arial, sans-serif;
$font__secondary: "Georgia";
$font__nunito: 'Nunito', sans-serif;


$color__red: #7a0000;
$color__tan__light: #f9e8d9;
$color__tan: #fa9f42;
$color__tan__dark: #f47f20;
$color__blue: #2B4162;
$color__blue_10: #E3E9F3;
$color__green: #0B6E4F;
$color__lightgray: #e0e0e2;

$color__primary: $color__red;

$color_new__blue: #4a90e2;
$color_new__blue2: #35a8e0;
$color_new__light-blue:#50dbe3;
$color_new__light-blue2:#4cd7b8;
$color_new__yellow:#ffc020;
$color_new__dark-yellow:#ecb11d;
$color_new__orange:#ff6300;
$color_new__red:#ff5b33;
$color_new__dark-red:#d84d2b;
$color_new__gray:#4d4d4d;
$color_new__dark-gray:#262626;
$color_new__dark-gray2:#2d2d2d;
$color_new__green:#94ca40;

