@use '../../../sass/abstracts/vars';

.label {
    display: inline-block;
    font-size: .8rem;
    letter-spacing: 2px;
    padding: 0.2em 0;
    font-weight: 700;
    line-height: 1;
    color: vars.$color__blue;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    font-family: vars.$font__primary;
    text-transform: uppercase;
    //margin-bottom: .5rem;
}