@use '../sass/abstracts/mixins';
@use '../sass/abstracts/vars';

.btn {
    background-color: vars.$color__blue;
    font-family: vars.$font__primary;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    //width: 100%;
    a {
        color: #fff;
        text-decoration: none;
    }
    svg {
        width: 1.5em;
        height: 1.5em;
        fill: black;
    }
    &.size-small {
        display: inline-block;
        svg {
            width: .75rem;
            height: .75rem;
        }
    }
    &.size-large {
        display: block;
    }
    @include mixins.backgroundColors();
}