.header {
    width: 100%;
   // background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}