@use '../sass/abstracts/vars';
@use '../sass/abstracts/mixins';

.icon {
    width: 1.5rem;
    height: auto;
    transition: all .35s;
    fill: gray;
    &.active {
        fill: vars.$color__primary;
    }
    &.close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    @include mixins.fills();
}