@use '../sass/abstracts/vars';

.menuoverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: vars.$color__blue;
    display: flex;
    justify-content: center;
    align-items: center;
    #closeBtn {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}