@use '../sass/abstracts/vars';
@use '../sass/abstracts/mixins';

.socialMediaList {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    &.justify-content-center {
        justify-content: center;
    }
    &.justify-content-flex-start {
        justify-content: flex-start;
    }
   
}
.socialMediaListItem {
    display: inline-block;
}
.socialMediaLink {
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    border-radius: 50%;
    border: 1px solid black;
    transition: all .5s;
    svg {
        width: 1.5em;
        height: 1.5em;
        fill: black;
    }
   
    @include mixins.fillColorsAndBorders();
    &:hover, &:focus {
        background-color: vars.$color__blue;
        border-color: vars.$color__blue;
        svg {
            fill: white;
        }
    }
}
