@use '../sass/abstracts/mixins';
@use '../sass/abstracts/vars';

.space {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    @include mixins.breakpoint(tablet) {
        flex-direction: row;
    }
    &__image {
        width: 100%;
        height: auto;
        @include mixins.breakpoint(tablet) {
            width: 65%;
        }
    }
    &__content {
        width: 100%;
        background-color: vars.$color__blue;
        padding: 1rem;
        @include mixins.breakpoint(tablet) {
            width: 35%;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }
}