@use '../../../sass/abstracts/mixins';
@use '../../../sass/abstracts/vars';

.section {
    margin: 0;
    padding: 2rem 0;
    @include mixins.marginAndPadding();
    @include mixins.borderTop();
    @include mixins.borderBottom();

}
.sectionHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}